@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.text-res{
    font-size: calc(-6.33787px + 1.375rem + 1.6901vw);
}

.text-res2{
    font-size: calc(-6.33787px + 1.475rem + 1.0875vw);
}

.drop-shadow-xl{
    --tw-drop-shadow: drop-shadow(0 0px 13px rgba(0, 0, 0, 0.144)) drop-shadow(0 8px 5px rgb(0 0 0 / 0.08));
    filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
  }


  .wrapper[data-animated=true]{
    overflow: hidden;
   
 mask: linear-gradient(90deg, transparent, white 20% , white 80% , transparent);
  }


  .wrapper[data-animated=true] .inner{
    animation: scroll 90s linear infinite;
  }


  @keyframes scroll{
    to{
        transform: translate(calc(-50% - 1rem));
    }
  }




  .wrapperr[data-animated=true]{
    overflow: hidden;
   
 mask: linear-gradient(90deg, transparent, white 10% , white 90% , transparent);
  }


  .wrapperr[data-animated=true] .innerr{
    animation: scroller 80s linear infinite;
  }

  
  @keyframes scroller{
    to{
        transform: translate(calc(-50% - 1rem));
    }
  }


  .basic{
    transform: translateY(-140px);
  }
  
.scrolled-up{
  transform: translateY(0px) !important;
  
}
  .nav{
    transition: transform 350ms ease-out 0s, box-shadow 350ms ease-out 0s;
     /* Initial hidden state */
    position: -webkit-sticky; /* For Safari */
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 20;
    background-color: white; 
    }